<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
    <title>About Us Page</title>
  </head>
  <body>
    <div class="card">
      <div class="card-image"></div>
      <div class="card-text">
        <h2>Venkat R</h2>
        <p>Role: Developer <br> Visualisation: Queue as Linked List <br> Website: Back End using flask, Queue web page, Home Page</p>
      </div>
      <div class="card-stats">
        <div class="stat">
          <div class="value">CSE-B</div>
        </div>
        <div class="stat border">
          <div class="value">162</div>
        </div>
        <div class="stat">
          <div class="value">7994275925</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-image card2"></div>
      <div class="card-text card2">
        <h2>P V Mrityunjaya</h2>
        <p>Role: Developer <br> Visualisation: Stack as Linked List <br> Website: Front End using HTML,CSS Stack web page, About Page</p>
      </div>
      <div class="card-stats card2">
        <div class="stat">
          <div class="value">CSE-B</div>
        </div>
        <div class="stat border">
          <div class="value">131</div>
        </div>
        <div class="stat">
          <div class="value">9176379030</div>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-image card3"></div>
        <div class="card-text card3">
          <h2>D Sanjeev</h2>
          <p>Role: Developer <br> Visualisation: Stack as Array, Queue as Array</p>
        </div>
        <div class="card-stats card3">
          <div class="stat">
            <div class="value">CSE-B</div>
          </div>
          <div class="stat border">
            <div class="value">512</div>
          </div>
          <div class="stat">
            <div class="value">6383813882</div>
          </div>
        </div>
      </div>
  </body>
</html>
